<!DOCTYPE html>
<html>
  <head>
    <title>Social Wall</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="userpage.css">
  </head>
  <body>
    <div id="page">
      <form id="message-form" method="POST" action="/redirectHome">
        <button type="submit">To your wall</button>
      </form>
      <form id="subscribe-form" method="POST" action=<%="/tumblrSubscribe/" + blog.to_s %> >
        <button type="submit">Subscribe to this Tumblr user</button>
      </form>
      <h1><%= client.blog_info(blog.to_s)["blog"]["name"] %></h1>
      <!--
      <form id="message-form" method="POST" action=<#%= "/subscribe/" + loggedUser.id.to_s + "/" + user.id.to_s %> >
        <button type="submit">Subscribe to this user</button>
      </form>
      -->
      <% tumblr_post(blog.to_s).each do |pst| %>
        <% if pst["type"] == "photo" then %>
          <p><img src=<%= pst["photos"][0]["original_size"]["url"] %>></img></p>
        <% end %>
        <% if pst["type"] == "text" then %>
          <p><%= pst["body"].to_s %></p>
        <% end %>
      <% end %>
      
    </div>
  </body>
</html>