<!DOCTYPE html>
<html>
  <head>
    <title>Social Wall</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="userpage.css">
  </head>
  <body>
    <div id="page">
      <form id="message-form" method="POST" action="/redirectHome">
        <button type="submit">To community wall</button>
      </form>
      <h1><%= user.name %></h1>

    </div>
  </body>
</html>