<!DOCTYPE html>
<html>
  <head>
    <title>Social Wall</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="userpage.css">
  </head>
  <body>
    <div id="page">
      <form id="message-form" method="POST" action="/redirectHome">
        <button type="submit">To your wall</button>
      </form>
      <h1><%= user.name %></h1>
      <p><%= user.name + " is subscribed to " + get_subscribed_to(user) + "." %></p>
      <p><%= user.name + " is also subscribed these Tumblr blogs: " + get_subscribed_tumblr(user) %></p>
      <form id="message-form" method="POST" action=<%= "/subscribe/" + loggedUser.id.to_s + "/" + user.id.to_s %>>
        <button type="submit">Subscribe to this user</button>
      </form>
    </div>
  </body>
</html>