body {
  background-color: rgb(150,225,255);
  color: rgb(150/255*32, 225/255*32, 255/255*32);
}

#page {
  margin: 20px auto;
  width: 1000px;
}

#message-form {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#message-form button[type="submit"] {
  margin-top: 10px;
}

#message-form #message-body {
  height: 100px;
  width: 100%;
}

#users-area #search-users {
  height: 20px;
  width: 100%;
}

#comment-form #comment-body {
  height: 100px;
  width: 100%;
}

/*
#search-tumblr #search-tumblr-field {
  text-align: right;
}
*/

/*
.inbox-message-list .inbox-message-body {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
}
*/

#inbox-message-form {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.message-list .message-likes {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
}

.message-list .comment-body {
  font-size: 12px;
  /*font-style: italic;*/
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
}

.message-list .message-timestamp {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
}

.message-list .comment-timestamp {
  font-size: 12px;
  /*font-style: italic;*/
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
}